@charset "UTF-8";
/* CSS Document */

.ui.sidebar {
width: 200px !important;
}
.ui.active.right.sidebar {
margin-left: -200px !important;
}
body.pushed {
margin-right: 200px !important;
}

@media only screen and (max-width: 700px) {
	body.pushed {
margin-left: -200px !important;
}
}
@media only screen and (max-width: 500px) {
	body.pushed {
margin-left: -200px !important;
}
}
body,html{
  overflow-x: hidden;
}
